<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
		p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" /> -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/rentacardatabase" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="defaultSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.vaannila.domain.Vehicle</value>
				<value>com.vaannila.domain.Rental</value>
				<value>com.vaannila.domain.Users</value>
				<value>com.vaannila.domain.Authorities</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="usersDAO" class="com.vaannila.dao.UsersDAOImpl">
		<property name="sessionFactory" ref="defaultSessionFactory" />
	</bean>

	<bean id="authoritiesDAO" class="com.vaannila.dao.AuthoritiesDAOImpl">
		<property name="sessionFactory" ref="defaultSessionFactory" />
	</bean>

	<bean id="vehicleDAO" class="com.vaannila.dao.VehicleDAOImpl">
		<property name="sessionFactory" ref="defaultSessionFactory" />
	</bean>

	<bean id="rentalDAO" class="com.vaannila.dao.RentalDAOImpl">
		<property name="sessionFactory" ref="defaultSessionFactory" />
	</bean>


	<!-- Make the top-level backing bean. This can also be created in faces-config.xml. 
		See the commented-out entry there. If you did it that way, you would comment 
		out the entry below. -->
	<bean id="userLoginBean" class="com.vaannila.managed.UserLoginBean"
		scope="session">
		<property name="usersDao" ref="usersDAO" />
	</bean>

	<!-- <bean name="/users/*.htm" class="com.vaannila.web.UsersController"> 
		<property name="usersDAO" ref="usersDAO" /> <property name="authoritiesDAO" 
		ref="authoritiesDAO" /> </bean> <bean name="/authorities/*.htm" class="com.vaannila.web.AuthoritiesController"> 
		<property name="authoritiesDAO" ref="authoritiesDAO" /> <property name="usersDAO" 
		ref="usersDAO" /> </bean> <bean name="/vehicle/*.htm" class="com.vaannila.web.VehicleController"> 
		<property name="vehicleDAO" ref="vehicleDAO" /> </bean> <bean name="/rental/*.htm" 
		class="com.vaannila.web.RentalController"> <property name="rentalDAO" ref="rentalDAO" 
		/> <property name="vehicleDAO" ref="vehicleDAO" /> <property name="usersDAO" 
		ref="usersDAO" /> </bean> -->

</beans>
