<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/onlinepaymentdatabase" />
		<property name="username" value="root" />
		<property name="password" value="nina_1988" />
	</bean>
	<bean id="defaultSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.alicnina.policeregistersimulator.Register</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
 -->

	<bean id="springAwareService" class="com.alicnina.paymentsimulator.PaymentSimulatorSkeleton" />
	
	<!-- 
	
	<bean id="registerDAO" class="com.alicnina.policeregistersimulator.RegisterDAOImpl">
		<property name="sessionFactory" ref="defaultSessionFactory" />
	</bean>
 
	<bean id="springAwareService1" class="com.alicnina.policeregistersimulator.PoliceRegisterSimulatorSkeleton">
		<property name="registerDAO" ref="registerDAO" />
	</bean>
 -->
	
	<!-- Configure spring to give a hook to axis2 without a ServletContext -->
  <bean id="applicationContext" 
    class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />
	
	
</beans>
	